* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-image: url("img/background_principal.png");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}
p {
  color: #0d4f0a;
  font-size: 160%;
  line-height: 155%;
  padding: 3%;
  text-indent: 2%;
  text-align: justify;
}
h3 {
  font-size: 175%;
  line-height: 155%;
  font-weight: 500;
  color: #073603;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}
a {
  color: #524c56;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #c3d7df;
}
img {
  display:block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px;
}
#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
#banner-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 3% 0;
}
header {
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
}
header #logo img {
  margin: -3px 30px 10px auto;
  float: left;
  width: 100px;
}
header h3 {
  float: left;
  margin: 40px auto auto -40px;
  font-size: 15px;
  color: #006400;
}
/*Navigation*/
nav {
  float: right;
  padding: 25px 20px 0 0;
}

#menu-icon {
  display: none;
  font-size: 50;
}
ul {
  list-style: none;
}
nav ul li {
  font-size: 150%;
  display: inline-block;
  float: left;
  padding: 10px;

}
nav ul li a{
  color: #6991ac;
}
.current {
  color: #3f5767;
}

.one-third {
  width: 23%;
  float: left;
  padding: 10px;
  text-align: center;
}
.one-third p{
  color: #0d4f0a;
  font-size: 160%;
  line-height: 155%;
  padding: 3%;
  text-indent: 2%;
  text-align: center;
}
.one-third h3 {
  font-weight: bold;
  font-size: 150%;
  line-height: 100%;
  font-weight: 300;
  color: #073603;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.icon-wrap {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: #6991ac;
  border-radius: 125px;
  text-align: center;
  margin-top: 3%;
}

.icon-wrap i {
  text-align: center;
  color: #fff;
  font-size: 400%;
  padding: 20%;
}
.center-platform {
  float: center;
  margin: 0 auto;
  width: 60%;
  height: auto;
  padding: 1%;
}
.center-platform h3 {
  font-size: 175%;
  line-height: 155%;
  font-weight: 500;
  color: #0F8C0D;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}
.center-platform p {
  color: #0F8C0D;
  text-align: center;
}
.center-platform .bottom-line {
  font-size: 30px;
}
.side-bar {
  margin: -5% auto -6% auto;
  width: 20%
  height: auto;
  padding: 1%;
}
.one-third-padding {
width:  29.2%;
float: left;
margin: 2%;
}
.one-third-padding p{
  color: #0d4f0a;
  font-size: 160%;
  line-height: 155%;
  text-indent: 2.5%;
  text-align: justify;
}
.clearfix-padding {
  clear: both;
  padding: 2%;
}
.bottom-line {
  font-weight: bold;
  margin: -41px auto auto;
  font-size: 150%;
  text-align: center;
}
.contacts-section-title h3{
  font-weight: bold;
  font-size: 300%;
  text-align: left;
  margin: 50px 10px auto 100px;
  color: #5FB740 ;
  font-family: arial;
}
.contacts-bottom-line h3{
  font-weight: bold;
  font-size: 500%;
  text-align: left;
  margin: -97px 1px 50px 100px;
  color: #20A48B;
}
#contacts-section {
  margin: auto 200px;
  background: #DDFFD2;
  width: 52%;
  overflow: hidden;
  opacity: 90%;
  border: solid;
  border-color: #1FB065;
  border-style: inset;
  border-width: 10px;
}
#contacts-list h3{
  color: #20A48B;
  text-decoration-line: underline;
  font-weight: bold;
  font-size: 100%;
  text-align: left;
  margin: 50px auto 20px 110px;
  padding: 1%;
  font-family: arial;
}
#contacts-list a{
  color: #5fb740;
  font-size: 100%;
  text-align: left;
  margin: auto auto 80px 115px;
  padding: 1%;
  font-family: arial;
}
#contacts-list a:hover{
  color: #4A91D0;
 }
.contacts-pic {
  float: right;
  margin: -500px -300px -0px auto;
  width: 20%
  height: auto;
  padding: 1%;
}
footer {
background: #8FBC8F;
width: 100%;
overflow: auto;
}
.icon-text {
  width: 100%;
  margin: 0 auto;
}
.icon-text-icon {
  float: left;
  width: 20%;
  padding: 4%;
}
.icon-text-text {
  float: left;
  width: 60%;
  padding: 4% 4% 2% 0;
}
.footer-nav {
  text-align: right;
}

.footer-nav a {
  font-size: 160%;
  color: #006400;
  font-weight: 300;
}
.footer-nav a:hover {
  color: #fff;
}
.social {
  text-align: center;
}
.social li {
  display: inline;
}
.social i {
  font-size: 420%;
  margin: 1%;
  padding: 5%;
  color: #c3d7df;
}
.footer-second {
  border-top: 1px solid #aadcd2;
  text-align: center;
  margin: 0;
}
.footer-second p, .footer-second a {
  text-align: center;
  color: #8FBC8F;
  font-size: 100%;
  line-height: 50%;
}

@media screen and (max-width: 880px) {
  p {
    font-size: 130%;
  }
  h3 {
    font-size: 150%;
  }
  header {
    height: 80px;
    position: relative;
  }
  header #logo {
    margin: 15px 0 20px -25px;
  }

  #menu-icon {
    display: inline-block;
  }
  nav:hover ul {
    display: block;
  }
  nav ul, nav:active ul{
    display: none;
    z-index: 1000;
    position: absolute;
    padding: 20px;
    background: #f5f5f5;
    border: 1px solid #a5bdcd;
    right: 20px;
    width: 30%;
    opacity: 0.90;
  }
  nav li {
    text-align: center;
    width: 100%;
  }
  .one-third {
    float: left;
    width: 100%;
  }
  .icon-wrap {
    height: 80px;
    width: 80px;
    margin-top: 3%;
  }
  .icon-wrap i {
    font-size: 250%;
    padding-top: 27;
  }
  .left-col {
    width: 100%;
    padding: 0;
  }
  .side-bar {
    width: 100%;
  }
  .one-third-padding {
    width: 97%;
    margin: 0;
    padding: 1;
  }
  .icon-text-icon {
    width: 100%;
    padding: 0 0 2% 0;
  }
  .icon-text-text {
    width: 100%;
    padding: 2% 0 0 0;
    font-size: 80%;
  }
}
